<div id="A">
    <div class="form-group">
        <label for="record-name" class="control-label col-lg-2"><%= __('RECORD') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-name" name="name" placeholder="www">
        </div>
    </div>
    <div class="form-group">
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('TARGET') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="IPv4">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('GEODNS') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-geo" name="geo" placeholder="US/CN/JP/etc...">
        </div>
    </div>
</div>
<div id="AAAA">
    <div class="form-group">
        <label for="record-name" class="control-label col-lg-2"><%= __('RECORD') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-name" name="name" placeholder="www">
        </div>
    </div>
    <div class="form-group">
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('TARGET') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="IPv6">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('GEODNS') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-geo" name="geo" placeholder="US/CN/JP/etc...">
        </div>
    </div>
</div>
<div id="CNAME">
    <div class="form-group">
        <label for="record-name" class="control-label col-lg-2"><%= __('RECORD') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-name" name="name" placeholder="www">
        </div>
    </div>
    <div class="form-group">
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('TARGET') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="domain.tld">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('GEODNS') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-geo" name="geo" placeholder="US/CN/JP/etc...">
        </div>
    </div>
</div>
<div id="MX">
    <div class="form-group">
        <label for="record-name" class="control-label col-lg-2"><%= __('RECORD') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-name" name="name" placeholder="@">
        </div>
    </div>
    <div class="form-group">
        <label for="record-prio" class="col-lg-2 control-label"><%= __('RECORD_PRIORITY') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-prio" name="prio" placeholder="10">
        </div>
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('RECORD_CONTENT') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="mail.domain.tld">
        </div>
    </div>
</div>
<div id="TXT">
    <div class="form-group">
        <label for="record-name" class="control-label col-lg-2"><%= __('RECORD') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-name" name="name" placeholder="Some text...">
        </div>
    </div>
    <div class="form-group">
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('RECORD_CONTENT') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="Some other text...">
        </div>
    </div>
</div>
<div id="SRV">
    <div class="form-group">
        <label for="record-service" class="control-label col-lg-2"><%= __('SERVICE_NAME') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-service" name="service" placeholder="xmpp-client">
        </div>
        <label for="record-protocol" class="control-label col-lg-2"><%= __('PROTOCOL') %></label>
        <div class="col-lg-3">
            <select name="protocol" id="record-protocol" class="form-control">
                <option value="tcp">TCP</option>
                <option value="udp">UDP</option>
                <option value="tls">TLS</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
        <label for="record-prio" class="col-lg-2 control-label"><%= __('RECORD_PRIORITY') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-prio" name="prio" placeholder="5">
        </div>
    </div>
    <div class="form-group">

        <label for="record-weight" class="col-lg-2 control-label"><%= __('WEIGHT') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-weight" name="weight" placeholder="0">
        </div>
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('PORT') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-portl" name="port" placeholder="5222">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('TARGET') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="xmpp-client.domain.tld">
        </div>
    </div>
</div>
<div id="NS">
    <div class="form-group">
        <label for="record-name" class="control-label col-lg-2"><%= __('RECORD') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-name" name="name" placeholder="@">
        </div>
    </div>
    <div class="form-group">
        <label for="record-ttl" class="col-lg-2 control-label"><%= __('TTL') %></label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="record-ttl" name="ttl" placeholder="3600">
        </div>
    </div>
    <div class="form-group">
        <label for="record-content" class="control-label col-lg-2"><%= __('TARGET') %></label>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="record-content" name="content" placeholder="ns.domain.tld">
        </div>
    </div>
</div>