<%-include header%>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= siteName %></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <% if(user) { %>
                    <li><a href="/domains"><%= __('MY_DOMAINS') %></a></li>
                    <li><a href="/status"><%= __('SERVER_STATUS') %></a></li>
                    <% } %>
                    <li><a href="/about"><%= __('ABOUT') %></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(!user) { %>
                    <li><a href="/login"><%= __('LOGIN') %></a></li>
                    <% if(allowReg) { %>
                    <li class="active"><a href="/reg"><%= __('REGISTER') %></a></li>
                    <% }} else { %>
                    <li><p class="navbar-text"><%= __('WELCOME') %>,
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/domains"><%= __('MY_DOMAINS') %></a></li>
                            <li><a href="/account"><%= __('MY_ACCOUNT') %></a></li>
                            <li><a href="/contact"><%= __('FEEDBACK') %></a></li>
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form" action="/logout" method="post">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger"><%= __('LOGOUT') %></button>
                            </div>
                        </form>
                    </li>
                    <% } %>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>

    <% if (locals.success) { %>
    <div class="alert alert-success alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= success %>
    </div>
    <% } %>
    <% if (locals.error) { %>
    <div class="alert alert-danger alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= error %>
    </div>
    <% } %>
    <div id="signin">
        <form class="form-signin" method="post">
            <legend><%= __('REGISTER') %></legend>
            <div class="form-group">
                <label for="username"><%= __('USERNAME') %></label>
                <input type="text" name="username" class="form-control" id="username" placeholder="<%= __('USERNAME') %>" autofocus>
            </div>
            <div class="form-group">
                <label for="email"><%= __('EMAIL') %></label>
                <input type="email" name="email" class="form-control" id="email" placeholder="<%= __('EMAIL') %>">
            </div>
            <div class="form-group">
                <label for="password"><%= __('PASSWORD') %></label>
                <input type="password" name="password" class="form-control" id="password" placeholder="<%= __('PASSWORD') %>">
            </div>
            <div class="form-group">
                <label for="password-repeat"><%= __('REPEAT_PASSWORD') %></label>
                <input type="password" name="password-repeat" class="form-control" id="password-repeat" placeholder="<%= __('REPEAT_PASSWORD') %>">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block"><%= __('REGISTER') %></button>
        </form>
    </div>



</div> <!-- /container -->
<%-include footer%>