<%-include header%>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
    // Load server status
    function loadStatus(server) {
        $.ajaxSetup({timeout:6000});
        $.get("statusapi/" + server, function(data, status) {
            // alert(data);
            switch (data) {
                case "0":
                    $("div[id$='" + server + "']").html('<span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;<span class="text-success">UP</span>');
                    break;
                case "1":
                    $("div[id$='" + server + "']").html('<span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;<span class="text-danger">DOWN</span>');
                    break;
                case "2":
                    $("div[id$='" + server + "']").html('<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;<span class="text-warning">TIMEOUT</span>');
                    break;
            }
        });
    }
</script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= siteName %></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><%= __('HOME') %></a></li>
                <% if(user) { %>
                <li><a href="/domains"><%= __('MY_DOMAINS') %></a></li>
                <li class="active"><a href="/status"><%= __('SERVER_STATUS') %></a></li>
                <% } %>
                <li><a href="/about"><%= __('ABOUT') %></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!user) { %>
                <li><a href="/login"><%= __('LOGIN') %></a></li>
                <% if(allowReg) { %>
                <li><a href="/reg"><%= __('REGISTER') %></a></li>
                <% }} else { %>
                <li><p class="navbar-text"><%= __('WELCOME') %>,
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/domains"><%= __('MY_DOMAINS') %></a></li>
                        <li><a href="/account"><%= __('MY_ACCOUNT') %></a></li>
                        <li><a href="/contact"><%= __('FEEDBACK') %></a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-form" action="/logout" method="post">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger"><%= __('LOGOUT') %></button>
                        </div>

                    </form>
                </li>
                <% } %>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div id="notification">
        <% if (locals.success) { %>
        <div class="alert alert-success alert-dismissable fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= success %>
        </div>
        <% } %>
        <% if (locals.error) { %>
        <div class="alert alert-danger alert-dismissable fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= error %>
        </div>
        <% } %>
    </div>

    <div class="container" style="min-height: 500px;">
        <div id="domain">
            <div id="domain-inner">
                <h2 style="display: inline-block; ">
                    <%= __('SERVER_STATUS') %>
                </h2>
                <table class="table">
                    <tr>
                        <th style="width: 75%;">
                            <%= __('DNS_SERVERS') %>
                        </th>
                        <th>
                            <%= __('STATUS') %>
                        </th>
                    </tr>
                    <% powerservers.forEach(function(server) { %>
                    <tr>
                        <td style="width: 75%;">
                            <span class="glyphicon glyphicon-tasks"></span>
                            &nbsp;&nbsp;
                            <%= server %>
                        </td>
                        <td >
                            <div id="status-<%= server %>">

                            </div>
                            <script type="text/javascript">
                                loadStatus("<%= server %>");
                            </script>
                            <!-- server status goes here -->
                        </td>
                    </tr>
                    <% }) %>
                </table>
            </div>

        </div>
    </div>

</div><!-- /.container -->


<%-include footer%>